<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.js" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="bundle.css" charset="utf-8">
  </head>
  <body data-ng-app="App" data-spy="scroll" data-target="#navToggle" id="mainBody" ng-controller="mainController">

    <nav-directive></nav-directive>
    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">
            Sam Gruse - Full Stack Javascript Developer
          </div>
          <div class="intro-heading">
            Motivated web developer with a passion for learning and technology
          </div>
          <!-- Make the TELL ME MORE button use anchor scroll to go to about me page -->
          <a class="page-scroll btn btn-xl" ng-click="scrollTo('about')">Tell Me More</a>
        </div>
      </div>
      <!-- <h1>This will be the home page</h1> -->
    </header>

    <section class="bg-light-gray" id="portfolio">
      <!-- PORTFOLIO HEADING -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Portfolio</h2>
            <!-- <img class="img-responsive" src="{{angularIcon}}" alt="" /> -->
            <h3 class="section-subheading text-muted">Projects and Contract work</h3>
          </div>
        </div>

        <!-- PROJECT ONE -->
        <div class="row" ng-repeat="project in projectData" ng-hide="moreInfo == true">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link">
              <!-- <div class="portfolio-hover" ng-click="showMore()"> -->
                <div class="portfolio-hover" ng-click="showProject(project)">

                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x">Learn More</i>
                </div>
              </div>
              <div class="pic-holder">
                <img class="img-responsive project-image" src="{{project.imgSrc}}" alt/>
              </div>
              <div class="portfolio-caption">
                <a href="{{project.url}}"><h4>{{project.name}}</h4></a>
                <p class="text-muted">{{project.quickDesc}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="scrolling" id="resume">
      <!-- SVG PORTION -->
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">SKILLS</h2>
      </div>
      <div class="row">
        <div class="col-md-12 icon-row">
          <div class="icon-holder" ng-repeat="icon in icons">
            <img class="img-responsive skills-icon" src="{{icon}}" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col col-sm-4">
            <h2 class="resume-headers">Technologies</h2>
          </div>
          <div class="col col-sm-8">
            <ul class="skills-list">
              <li>Javascript / Jquery</li>
              <li>Node</li>
              <li>Angular</li>
              <li>MongoDB</li>
              <li>Gulp / Webpack</li>
              <li>TDD (Mocha, Jasmine, Karma)</li>
              <li>RESTful architecture</li>
              <li>AJAX</li>
              <li>HTML5 / CSS3</li>
              <li>SASS</li>
              <li>Version Control (GIT)</li>
              <li>Bootstrap</li>
              <li>Responsive layout and design</li>
              <li>Agile methodology</li>
              <li>RESTful architecture</li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col col-sm-4">
            <h2 class="resume-headers">Experience</h2>
          </div>
          <div class="col col-sm-8 past-work">
            <div class="work-header">
              <h1>Overbrook Construction</h1>
              <h3>Contract Software Engineer <span>May 2016 - present</span></h3>
            </div>
            <div class="job-description">
              <p>
              I joined Overbrook Construction to completely redesign their website, giving it a modern look and advanced mapping functionality.  I transformed a custom wireframe into a full stack application using AngularJS, ExpressJS, NodeJS, and MongoDB linked with Amazon’s S3 storage system.  The site displays Overbrook’s entire portfolio of completed, current and future homes, leveraging the Google Maps API to plot each location on an interactive map.  Internally, I built custom content management system that allows Overbrook admins the ability to easily update their site and was successful in a complete transformation of Overbrook's online brand.
              </p>
            </div>
          </div>
          <!-- <div class="col col-sm-4">
          </div>
          <div class="col col-sm-8">
            <div class="work-header">
              <h1>Overbrook Construction</h1>
              <h3>Contract Software Engineer</h3>
            </div>
            <div class="job-description">
              <p>
              I joined Overbrook Construction to completely redesign their website, giving it a modern look and advanced mapping functionality.  I transformed a custom wireframe into a full stack application using AngularJS, ExpressJS, NodeJS, and MongoDB linked with Amazon’s S3 storage system.  The site displays Overbrook’s entire portfolio of completed, current and future homes, leveraging the Google Maps API to plot each location on an interactive map.  Internally, I built custom content management system that allows Overbrook admins the ability to easily update their site and was successful in a complete transformation of Overbrook's online brand.
              </p>
            </div>
          </div> -->
        </div>
      </div>

    </section>

    <section class="scrolling" id="about">
      <p>
        ABOUT
      </p>
    </section>

    <section class="scrolling" id="contact">
      <p>
        CONTACT
      </p>
    </section>

    <main data-ng-view></main>

    <script src="bundle.js"></script>
  </body>
</html>
