// body {
//   overflow-x: hidden;
//   font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
//   font-size: 14px;
//   line-height: 1.42857143;
//   color: #333;
//   background-color: #fff;
//   margin: 0;
// }

body {
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
}

.scrolling {
  width: 360px;
  height: 800px;
}
