// >>>>>>>>>>>>>>>>>>> UNIVERSAL

div {
  display: block;
}

body {
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
}

.scrolling {
  width: auto;
  height: auto;
}

.navbar-inverse .navbar-nav>li>a {
    // color: #fed136;
    color: white;
}

// >>>>>>>>>>>>>>>>>>> THIS IS THE HOME LANDING SECTION

header {
    // background-image: url('./img/header-bg.jpg');
    background-image: url('./img/project-images/storyblocks.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  margin-bottom: 25px;
}

.btn-xl {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

.btn {
  display: inline-block;
  // padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
}

// >>>>>>>>>>>>>>>>>>> THIS IS THE PORTFOLIO SECTION

.bg-light-gray {
  background-color: #eee;
}

#portfolio * {
  z-index: 2;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}

h3.section-subheading {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254,209,54,.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-caption {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px;
  font-family: Montserrat;
}

.project-imgae {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

// POSSIBLY NEEDED FOR IMAGES IN PORT
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-responsive {
  display: block;
  max-width: 100px;
  height: auto;
}

img {
  vertical-align: middle;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: .8;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254,209,54,.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}

.fa-plus:before {
    content: "\f067";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h4 {
  font-size: 18px;
  color: black;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.text-muted {
  color: #777;
  padding-top: 10px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.moreInfo {
  z-index: 3;
}

.shitty {
    width: 100%;
    height: 145px;
}


// >>>>>>>>>>>>>>>>>>> THIS IS FOR THE MODAL SECTION

  .fade .in {
      opacity: 1;
  }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    margin: 20px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal .in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal .fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 100px;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.close-button {
  margin-top: 100px;
  margin-bottom: -100px;
  // position: absolute;
  float: right;
}

.tech-used {
  // padding: 10px;
  // margin: 5px;
}

// >>>>>>>>>>>>>>>>>>> THIS IS THE SKILLS/RESUME SECTION

.icon-row {
  text-align: center;
}

.icon-holder {
  height: 75px;
  width: 75px;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.skills-icon {
  width: 100%;
  height: auto;
}

.job-title {
  font-size: 18px;
  display: inline;
}

.dates {
  font-style: italic;
  padding: 10 10 10 0;
  margin-left: 10px;
}

.past-work {
  padding-top: 20px;
}

// FONTS FOR TECH SECTION

#siteWrapper {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.6em;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: rgba(26,26,26,.6);
    padding: 20px;
}

.tech-section {
  border-bottom: 1px solid black;
}

.skills-list {
  height: 100%;
  list-style: none;
  text-align: left;
  margin-top: 20px;
  margin-right: 100px;
  padding: 0px;
}

.resume-headers {
  text-align: left;
  margin-left: 30px;
}

.work-header, .job-description {
  text-align: left;
}

li {
  text-decoration: none;
}

.work-description {
  // margin-right: 40px;
}

.workTitle {
  margin-right: 20px;
}

.school-header {
  padding: 5 5 5 0;
}

// >>>>>>>>>>>>>>>>>>> THIS IS THE ABOUT SECTION

.new {
  height: auto;
}

.about-wrapper {
  background-color: #eee;
  height: auto;
}

.social-icon-holder {
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.profile-img {
  border: 7px solid #fff;
  text-align: center;
}

.school-pic-holder {
  width: 50px;
  height: 50px;
  display: block;
  float: right;
  margin-right: 25px;
  margin-left: 25px;
}

.school-pic {
  height: auto;
  width: 100%;
  margin-left: 20px;
}

.school-header {
  display: inline;
}

.school-leader {
  display: inline-block;
}

.bottom-line {
  border-bottom: dotted;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.contact-info {
  font-style: italic;
}

.contact-information {
  margin-top: 50px;
}

// FOR THE MEDIA QUERY I WILL NEED A FLOAT LEFT, WIDTH AT 50%, AND MOST LIKELY INLINE

@media (max-width: 768px) {
  .resume-headers {
    text-align: center;
  }

  .yuppers {
    height: 2px;
  }

  body {
    overflow-x: hidden;
    margin: 0px;
  }

  section {
    width: 100%;
    margin: 0px;
  }

  .col-md-12, .col-sm-12, .about-information, .icon-row {
    overflow-x: hidden;
    width: 100%;
  }
}

@media (min-width: 768px) {

// >>>>>>>>>>>>>>>>>>> THIS IS FOR THE PORTFOLIO SECTION

  #portfolio {
    // padding: 150px 0;
  }

  .container {
    // width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-alignt: center;
  }

  .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: none;
    content: " ";
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
  }

// >>>>>>>>>>>>>>>>>>> THIS IS FOR THE PORTFOLIO SECTION

.modal-body {
  margin-right: 140px;
}

.modal-content {
  text-align: center;
}

.profile-img {
  border: 7px solid #fff;
  text-align: center;

}

// >>>>>>>>>>>>>>>>>>> THIS IS FOR THE ABOUT SECTION

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

}

@media (min-width: 992px) {

  .col-md-4 {
    width: 33.3333333%;
  }

  .container {
    width: 100%;
  }

  .row {
    text-align: center;
  }

  .modal-pic-holder {
    float: left;
  }

  .modal-body {
    // margin-right: 350px;
  }

  .about-text {
    margin-left: 200px;
    margin-right: 200px;
  }

  .modal-body {
    margin-right: 140px;
  }

}

@media (min-width: 1200px) {
  .modal-body {
    margin-right: 550px;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .modal-body {
    padding: 0px;
  }
}
