<nav id='mainNav' class="navbar navbar-default navbar-custom navbar-fixed-top affix-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" name="button" class="navbar-toggle collapsed">
        <span>Menu</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Sam Gruse</a>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px">
      <ul class="navbar navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="active">
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li class>
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li class>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li class>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
