body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  overflow-x: hidden;
}

.navbar-inverse .navbar-brand {
  color: #fed136;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fed136;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fed136;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar {
  width: 100%;
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

@media (min-width: 768px) {
  .navbar {
    transition: padding .3s;
  }
}
